NationalParks.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Rules for XML file  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://larenwa.github.io/assign4"
           xmlns="https://larenwa.github.io/assign4"
           elementFormDefault="qualified">
             <!-- Root element is NationalParks -->
  <xs:element name="NationalParks">
    <xs:complexType>
      <xs:sequence>
                 <!-- Name appears once -->
        <xs:element name="NationalPark" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" minOccurs="1" maxOccurs="1" type="xs:string"/>
                         <!-- Phone appears at least once -->
              <xs:element name="Phone" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
                       <!-- Address appears once -->
              <xs:element name="Address" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Number" minOccurs="1" maxOccurs="1" type="xs:string"/>
                    <xs:element name="Street" minOccurs="1" maxOccurs="1" type="xs:string"/>
                    <xs:element name="City" minOccurs="1" maxOccurs="1" type="xs:string"/>
                    <xs:element name="State" minOccurs="1" maxOccurs="1" type="xs:string"/>
                    <xs:element name="Zip" minOccurs="1" maxOccurs="1" type="xs:string"/>
                  </xs:sequence>
                           <!-- NearestAirport required on Address -->
                  <xs:attribute name="NearestAirport" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
                     <!-- Rating is optional on NationalPark -->
            <xs:attribute name="Rating" type="xs:string" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
